/*=============================================forgot password Page==================================================*/


/* section #login-page{
    margin-top: 50% !important;
    padding-top: 100px;
} */

/*center the form*/
/*align the form*/
#forgot-password-form{
    width: 50%;
    margin: 5px auto;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #4f99f0;
}

/*for the input*/
/*reduce the width*/
#forgot-password-form input{
    width: 50%;
    margin: 5px auto;
}

/*login button*/
#forgot-password-form #send-btn{
    background-color: #4f99f0;
    color: #fff;
}

/*Dont have an account button*/
#forgot-password-form #register-url{
    color: #4f99f0;
}



.forgot-password a{
    text-decoration: none;
    font-size: 14px;
    color: #4f99f0;
}

@media (max-width: 1000px) {

    #forgot-password-form{
        width: 100%;
        margin: 35px auto;
        text-align: center;
        padding: 20px;
    }
}