/*================================================Single Vet======================================================*/

/* .single-vet-background{
  background-color: #f0f6ff;
  padding-bottom: 10px;
} */

.vet-profile{
    /* width: 1200px; */
    margin: 20px auto;
    /* background-color: #f7f7f7; */
    display: flex;
    padding: 30px;
    border-radius: 5px;
}
  
.single-vet-background .heading{
    padding-top: 12px;
}
  
.vet-profile img{
    border-radius: 3%;
    width: 300px;
    margin-left: 40px;
}
  
.vet-profile .vet-basic-info{
    padding-left: 40px;
}
  
.vet-detailing{
    padding: 10px 50px;
    border-radius: 5px;
  
}

.vet-detailing h4{
    background-color: #dbe7f8;
    border-radius: 2px;
    padding: 10px 20px;
}

.vet-detailing .vet-overview p{
    padding: 5px 30px;
}
  
/* .vet-detailing .vet-general{
    border: 2px solid cyan;
    flex: 1;
    padding: 10px;
} */
  
.vet-detailing .services{
    margin-top: 15px;
}
  
.vet-detailing .vet-overview{
    
    padding: 15px;
    /* width: 70%; */
}
  

.vet-map{
    margin-left: 2%;
}
  
.faqs{
    padding: 10px 50px;
    border-radius: 5px;
}

.faqs-div{
    padding: 15px;
}

.faqs h4{
    background-color: #dbe7f8;
    border-radius: 2px;
    padding: 10px 20px;
}

  
.faqs h5{
    padding-top: 8px;
    background-color: #e7effa;
    border-radius: 2px;
    padding: 10px 20px;
    font-weight: 600;
    margin: 0 35px;
}
  
.faqs p{
    padding: 5px 65px;
}

/*responsive*/
@media(max-width: 770px){
  
  
    .vet-profile{
      flex-direction: column;
      align-items: center; 
      text-align: center;
    }

    .vet-basic-info h2, h5, h4{
        margin-top: 10px;
    }
  
  
  
  
}