/*==============================================Single Products Page===================================================*/

/*for small images in single product page*/
.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 18%; /*display the small images in one line*/
    cursor: pointer;
}


/*for the product in the single products page*/
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.single-product input:focus{
    outline: none;
}


/*Buy Button*/
.single-product .buy-btn {
    color: #fff;
    background-color: #4f99f0;
    opacity: 1;
    transition: 0.4s all;
    padding: 10px 24px;
    margin-left: 10px;
}

/* wishlist button*/
.add-to-wishlist-btn{

    padding: 10px 24px;
    margin-top: 5px;
    color: #fff;
    background-color: #4f99f0;

}

.single-product .buy-btn:hover{
    background-color: #e0eeff;
    color: #000;
}

#single-head{
    color: grey;
}

h4 span{
    font-size: 16px;
    font-weight: normal;
}

