/*================================================Register Page====================================================*/


#order-cancel-form{
    width: 50%;
    margin: 5px auto;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #4f99f0;
}

#order-cancel-form input{
    width: 50%;
    margin: 5px auto;   
}


.check label{
    font-size: 14px;
}

.form-helpers{
    font-size: 14px;
    text-align: center;
    padding: 0px 97px;
}

#order-cancel-form #cancel-btn{
    background-color: #4f99f0;
    color: #fff;   
}

@media (max-width: 1000px) {
    .form-helpers{
        font-size: 14px;
        text-align: center;
        padding: 0 70px;
    }

    #order-cancel-form{
        width: 100%;
        margin: 35px auto;
        text-align: center;
        padding: 20px;
    }
}