/*==========================================Single Breed============================================*/

.single-breed .breed-image{
    display: block;
  /*   margin-left: auto;
    margin-right: auto; */
    margin: 20px auto 10px auto;
  /*   margin-bottom: 10px; */
    width: 50%;
    border-radius: 5px;
}
    
.single-breed .breed-name{
    font-size: 30px;
    text-align: center;
    margin: 10px 0;
}
  
.single-breed .origin{
    text-align: center;
    font-size: 20px;
}

  
.divider{
    width: 75%;
    margin: 15px auto 0 auto;
    background-color: #4f99f0;
    height: 1px !important;
    opacity: 0.4;
}
  
.single-breed .general-info{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
    text-decoration: underline;
    font-weight: 600;
    font-size: 22px;
}
  
.general-info-row {
    display: flex;
    justify-content: space-evenly;
}
  
.general-info-column {
    padding: 10px !important;
  
}

.general-info-column h2{
    font-size: 22px;

}

.general-info-column h4{
    margin: 5px 0;
    font-size: 18px;
}
  
.accordion-body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    /* min-height: 100vh; */
    /* background: #4f99f0; */
}
  
.accordion{
    max-width: 850px;
}
  
.accordion .content-box{
    position: relative;
    margin: 10px 20px;
}
  
.accordion .content-box .label{
    font-size: 1.2rem;
    font-weight: 700;
    position: relative;
    padding-left: 18px !important;
    padding: 10px;
    background: #e0eeff;
    color: #000;
    cursor: pointer;
}
  
.accordion .content-box .label::before{
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
}
  
.accordion .content-box.active .label::before{
    content: '-';
}
  
.accordion .content-box .content{
    position: relative;
    background: #f5f8fc;
    height: 0;
    overflow: hidden;
    transition: 0.2s;
    overflow-y: auto;
}
  
.accordion .content-box .content p{
    font-weight: 500;
    word-spacing: 1.5px;
}
  
.accordion .content-box.active .content{
    height: auto;
    padding: 10px;
}
  
.pros-cons{
    font-size: 24px;
    margin-left: 180px !important;
}
  
.tabs{
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 20px auto;
    padding: 10px;
}
  
.tabs input[type="radio"]{
    display: none;
}
 
.tabs label{
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    background: #f5f8fc;
}
  
.tabs .tab{
    width: 100%;
    padding: 20px;
    background: #e0eeff;
    order: 1;
    display: none;
}
  
.tabs input[type="radio"]:checked + label + .tab {
    display: block;
}
  
.tabs input[type="radio"]:checked + label{
    background: #e0eeff;
}
  
/*responsive*/
@media(max-width: 660px){
  
  
    .general-info-row{
      flex-direction: column;
      align-items: center;
    }
  
    .pros-cons{
      text-align: center;
    }
  
  
}
  
@media(max-width: 750px){
  
    .pros-cons{
      text-align: center;
      margin: 0 auto !important;
    }
}