/*===================================================Vet==========================================================*/

.vet-background{
    background-color: #f0f6ff;
    padding-bottom: 10px !important;
    margin-bottom: 0 !important;
}
  
.vet{
    /* width: 1050px; */
    background-color: #fff;
    /* border-bottom: 1px solid #4f99f0; */
    margin: 20px auto;
    padding: 25px 50px;
    display: flex;
    border-radius: 10px;
    max-width: 1050px;
 
}
  
.vet img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    max-width: 100%;
}
  
.vet .vet-details{
    padding-left: 40px;
    flex: 1;
}

.vet .vet-details h5{
      font-weight: 600;
}
  
.vet .vet-details .view-profile-btn{
    float: right;
    margin-right: 35px;
    font-size: 0.9rem;
    text-transform: capitalize;
    padding: 8px 20px;
    background-color: #68a6ec;
    border-radius: 5px;
}

.vet .vet-details .view-profile-btn:hover{
    background-color: #e0eeff;
}

.vet .vet-details .view-profile-btn a{
    text-decoration: none;
    color: #000;
}
  
  
/*responsive*/

  
@media(max-width: 800px){
  
    .vet{
      flex-direction: column;
      align-items: center;
      width: auto;
      margin: auto;
    }
  
    .vet .vet-details{
      margin-top: 15px;
    }

    .vet .vet-details .view-profile-btn{
        margin-top: 15px;
        float:none;
    }
  
  
}